scraped_data/runtime/** filter=lfs diff=lfs merge=lfs -text
scraped_data/output/** filter=lfs diff=lfs merge=lfs -text
GeothermalDatasets/** filter=lfs diff=lfs merge=lfs -text
ThesisResearchStudies/** filter=lfs diff=lfs merge=lfs -text
newDataPointsToExtract/**/*.zip filter=lfs diff=lfs merge=lfs -text
data/GeothermalDatasets/** filter=lfs diff=lfs merge=lfs -text
data/ThesisResearchStudies/** filter=lfs diff=lfs merge=lfs -text
data/newDataPointsToExtract/**/*.zip filter=lfs diff=lfs merge=lfs -text
