flask
redis 
beautifulsoup4
google-generativeai
folium
supabase
nltk
transformers
langdetect
torch
deep-translator
werkzeug
google-genai
logging
uvicorn
pandas
matplotlib
numpy
requests
scikit-learn
Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
Flask-WTF
email-validator
Flask-Mail 
Flask-Session
Flask-Bcrypt
python-dotenv
gunicorn 
flask_mysqldb
cryptography
python-escpos
langchain
langchain-ollama
langchain-chroma
lxml
playwright
flask
flask-cors
flask-restful
ipykernel
notebook
google-api-core==2.19.1
google-api-python-client==2.137.0
google-auth==2.32.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.63.2
dotenv
aiosqlite