fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic-settings==2.4.0
supabase==2.10.0
python-jose[cryptography]==3.3.0
redis==5.0.8
httpx==0.27.2
flask
redis 
beautifulsoup4
google-generativeai
folium
supabase
nltk
transformers
langdetect
deep-translator
werkzeug
google-genai
logging
uvicorn
pandas
matplotlib
numpy
requests
scikit-learn
Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
Flask-WTF
email-validator
Flask-Mail 
Flask-Session
Flask-Bcrypt
python-dotenv
gunicorn 
flask_mysqldb
cryptography
python-escpos
langchain
langchain-ollama
langchain-chroma
lxml
playwright
flask
flask-cors
flask-restful
ipykernel
notebook
google-api-core==2.19.1
google-api-python-client==2.137.0
google-auth==2.32.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.63.2
dotenv
aiosqlite
psycopg2-binary
psycopg2
fastapi
rasterio
geopandas
shapely
rasterstats
pyproj
richdem
whitebox